body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #121212;
    font-family: "Lato", "Arial";
}

.page {
    position: relative;
    padding-bottom: 70px;
    max-width: 920px;
    margin: 0 auto;
}